/* styles.css */
.background {
  background-color: #e7ffe4;
  color: #81005a;
  font-family: "Tinos", serif;
  padding: 20px;
}
.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}
.yuyu-regular {
  font-family: "Yuyu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

